@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500&family=Work+Sans:wght@200;300;400;500;700&display=swap');
:root {

    /* COlOR PALETTE */

    --color-black: #050505;
    --color-black-transparent: #05050585;
    --color-white: #FFFFFF;
    --color-grey: #726B76;

    --color-primary-brand: #FA03B5;
    --color-secondary: #00D1FF;
    --color-highlight: #FFB800;
    
    --background-gradient-primary: linear-gradient(89.98deg, #ffd89b 0.01%, #19547b 103%);

    --ff-components: 'Work Sans', sans-serif;
    --ff-body: 'Inter', sans-serif;

    --fs-component-header-nav: clamp(1rem, 2vw, 2rem);
    --fs-component-header-title: clamp(1.2rem, 3vw, 3rem);
    --fs-component-post-title: 2rem;
    --fs-component-post-date: 1.5rem;
    --fs-component-post-subtitle: 1.25rem;
    --fs-footer-title: 2rem;
    --fs-footer-subtitle: 1.25rem;
    
}

.border{
    border: 1px solid var(--color-secondary);
}

*{
    box-sizing: border-box;

}

/* TYPOGRAPHY AND ICONS */
h1, h2, h3, h4, p, a, li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;

}

.icons{
    color: var(--color-primary-brand);
}




html, body{
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    
}

main{
    height: 100vh;
}


/* ============= HEADER STYLING ================ */
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em .1em;
}

.header-title{
    font-family: var(--ff-components);
    font-weight: 400;
    font-size: var(--fs-component-header-title);
    width: max-content;
}

.navicon {
    padding: .1em .2em;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0%;
    
    height: 100vh;
    width: 100%;
    scale: 0;
    
}

.visible{
    scale: 1;
    transition: 300ms;
}

.menu a{
    font-family: var(--ff-components);
    font-size: var(--fs-component-header-nav);
    color: var(--color-grey);
    padding: .1em .2em;
    margin: .5em 0;
    
}

.navbar{
    display: none;
}


.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
    
}



/* MEDIA QUERIES */
@media (min-width: 475px){
    .container{
        max-width: 475px;
    }
}

@media (min-width: 640px){
    .container{
        max-width: 640px;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 768px;
    }
    .navicon {
        display: none;
    }
    .navbar{
        display: flex;
        width: 40%;
        max-width: 500px;
        justify-content: space-between;
    }
    .navbar a{
        font-family: var(--ff-components);
        font-size: var(--fs-component-header-nav);
        color: var(--color-black);
    }
}
@media (min-width: 1024px){
    .container{
        max-width: 1024px;
    }
}
@media (min-width: 1280px){
    body{
        height: 100vh;
    }
    footer{
        display: none;
    }
    .container{
        max-width: 1280px;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1240px;
        height: 100vh;
    }
}
@media (min-width: 1540px){
    .container{
        max-width: 1540px;
    }
}