@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400&family=Montserrat:wght@100;300;400;600&family=Open+Sans:wght@300;400;500&display=swap');

:root{
    --color-dark: #1E1E1E;
    --color-dark-variant: #313945;
    --color-dark-light: #3C3838;
    --color-white: #F2F2F2;
    --color-brand-primary: #89DFCA;
    --color-highlight: #FCBB6D;
    --color-warning: #D8737F;

    --ff-main: 'Montserrat', sans-serif;
    --ff-component: 'IBM Plex Mono', monospace;
    --ff-body: 'Open Sans', sans-serif;
}
* {
    box-sizing: border-box;
}

.about{
    padding: 1em 0;
}

.about object{
    width: 90px;
    height: 90px;
}

.about h2{
    font-family: var(--ff-main);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.about:nth-of-type(odd) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-white);
}

.about .icon-container object{
    width: 30px;
    height: 30px;
    margin: 0 .8em;
}

.about p{
    font-family: var(--ff-body);
    font-style: normal;
    font-weight: 400;
    font-size: .8rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    width: 280px;
}

.about:nth-of-type(even){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-highlight);
    color: var(--color-dark);
}

.image-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.image-container div{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about .image-container div object{
    height: 40px;
    width: 40px;
    
}

.image-container div p{
    width: unset;
}

.valid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    height: 50vh;
}

.valid-container p{
    font-family: var(--ff-body);
    color: var(--color-white);

}

.valid-container a{
    color: var(--color-highlight);
}


/* STYLING FOR FORMS */

.form{
    margin: 0 auto;
}

label, input, textarea{
    display: block;
    margin-bottom: 1em;
    padding: unset;
    appearance: none;
}

input, textarea{
    background-color: var(--color-dark-light);
    color: var(--color-white);
    border: none;
    width: 500px;
    resize: none;
    border-radius: 5px;
    
}

.input-container{
    position: relative;
    
}

input{
    font-family: var(--ff-main);
    height: 2rem;
    padding-left: 2.5em;
}



label{
    font-family: var(--ff-main);
    color: var(--color-white);
}

.input-icon{
    position: absolute;
    top: 63%;
    left: .5em;
    color: var(--color-dark);
}


::placeholder{
    color: var(--color-dark);
    
}



img{
    padding: 0;
    margin: 0;
}

.post-item{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6em;
}
.post-item .post{
    width: 100%;
    
}

.section-header{
    font-family: var(--ff-body);
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
    width: 50%;
    max-width: 400px;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
}

.section-subheader{
    font-family: var(--ff-body);
    color: var(--color-white);
    max-width: 400px;
    font-weight: 100;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
}

.post{
    width: 100%;
    border: 1px solid var(--color-brand-primary);
    margin-bottom: 3em;
}



.comments-container{
    
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment{
    display: flex;
    width: 70%;
    min-height: 130px;
    margin: 2em;
    background-color: var(--color-dark-variant);
    padding: 1em 1em;
    border-radius: 10px;

}
.comment .avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment .avatar-container p{
    font-family: var(--ff-main);
    color: var(--color-white);
    font-size: .8rem;
}
.comment .content-container{
    width: 70%;
    margin-left: 1em;
    background-color: var(--color-dark);
    border-radius: 10px;
    
}


.comment .content-container div{
    width: 100%;
    padding-right: 1em;
}

.comment .content-container div p{
    font-family: var(--ff-main);
    color: var(--color-white);
    font-size: .8rem;
    text-align: end;
    
}

.comment-content{
    font-family: var(--ff-main);
    color: var(--color-white);
    background-color: var(--color-dark);
    height: 50%;
    margin: 0;
    padding: .1em .1em .5em .5em;
}

.post img{
    width: 100%;
}

.post .post-details-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;

}

.post-date{
    font-family: var(--ff-component);
    color: var(--color-white);
    font-weight: 300;
    font-size: .9rem;
}

.card-title{
    font-family: var(--ff-component);
    color: var(--color-white);
    font-weight: 300;
    font-size: 1.23rem;
}

.read-btn{
    padding: .3em .5em;
    background-color: var(--color-brand-primary);
    font-family: var(--ff-component);
}


.read-btn:hover{
    background-color: var(--color-highlight);
    cursor: pointer;
}

.post-item .post{
    border: unset;
}

.post-item .post-title{
    font-family: var(--ff-body);
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 700;
    background-color: unset;
    padding: unset;
}

.post-item .post p{
    font-family: var(--ff-body);
    color: var(--color-white);
}






.hero-header{
    font-family: var(--ff-main);
    color: var(--color-brand-primary);
    font-size: 2rem;
    text-align: center;
}

.icons{
    color: var(--color-brand-primary);
}
.icons:hover{
    color: var(--color-highlight);
    cursor: pointer;
}
a{
    text-decoration: none;
    font-family: var(--ff-main);
    color: var(--color-brand-primary);
}

.hamburger-bars{
    display: block;
}

nav{
    display: none;
}

nav[data-visible="true"]{
    display: block;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

main{
    background-color: var(--color-dark);
    z-index: 0;
}
footer{
    margin-top: auto;
    height: 300px;
    width: 100%;
    border: 1px solid var(--color-brand-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: var(--color-dark);  
    z-index: 9;
}


.zoom{
    transition: scale 500ms ease-in 200ms;
    scale: 3;
}



  .header-title{
    color: var(--color-brand-primary);
    font-family: var(--ff-main);
    font-weight: 400;
    text-align: center;
  }


.button{
    background-color: var(--color-dark);
    color: var(--color-brand-primary);
    border: 1px solid var(--color-brand-primary);
    font-family: var(--ff-main);
    font-size: 1.5rem;
    padding: .3em .8em;
}

.input[data-valid="true"] ~ .button:hover{
    background-color: var(--color-brand-primary);
    color: var(--color-dark);
    cursor: pointer;
}

.hero-btn{
    position: absolute;
    bottom: 19%;
}

body[data-nav="true"]  .index{
    height: 65vh;
    
    transition: 410ms;
    z-index: 0;
}

body[data-nav="true"]  .hero-btn{
    
}

.post-title{
    color: var(--color-dark);
    font-family: var(--ff-component);
    font-weight: 300;
    background-color: var(--color-brand-primary);
    width: max-content;
    padding: .2em .5em;
}

.container{
    margin-right: .5em;
    margin-left: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

.hero-section-widescreen{
    display: none;
}

@media(min-width: 420px){
    .container{
        max-width: 420px;
    }
    .about{
        padding: 1em 0;
    }
    
    .about object{
        width: 90px;
        height: 90px;
    }
    
    .about h2{
        font-family: var(--ff-main);
        font-weight: 400;
        font-size: 1rem;
        width: 400px;
        
    }
    
    .about:nth-of-type(odd) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
    }
    
    .about .icon-container object{
        width: 30px;
        height: 30px;
        margin: 0 .8em;
    }
    
    .about p{
        font-family: var(--ff-body);
        font-style: normal;
        font-weight: 400;
        font-size: .8rem;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.02em;
        width: 380px;
    }
    
    .about:nth-of-type(even){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-highlight);
        color: var(--color-dark);
    }
    
    .image-container{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .image-container div{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .about .image-container div object{
        height: 50px;
        width: 50px;
        
    }
    
    .image-container div p{
        width: unset;
    }
}
@media(min-width: 720px){
    .container{
        max-width: 720px;
    }
    .index{
        background-image: url(/assets/hero-small.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 60%;
        width: 100%;
        height: 90vh;
        font-family: var(--ff-main);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .post{
        width: 100%;
        border: 1px solid var(--color-brand-primary);
        margin-bottom: 3em;
        
        
    }
    .post:hover{
    
    }
    
    .post img{
        width: 100%;
    }
    
    .post .post-details-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black;
    
    }
    
    .post-date{
        font-family: var(--ff-component);
        color: var(--color-white);
        font-weight: 300;
        font-size: .9rem;
    }
    
    .card-title{
        font-family: var(--ff-component);
        color: var(--color-white);
        font-weight: 300;
        font-size: 1.23rem;
    }
    
    .read-btn{
        padding: .3em .5em;
        background-color: var(--color-brand-primary);
        font-family: var(--ff-component);
    }
    
    .read-btn:hover{
        background-color: var(--color-highlight);
        cursor: pointer;
    }
    .about{
        padding: 1em 0;
    }
    
    .about object{
        width: 90px;
        height: 90px;
    }
    
    .about h2{
        font-family: var(--ff-main);
        font-weight: 400;
        font-size: 1.3rem;
        width: 500px;
        
    }
    
    .about:nth-of-type(odd) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
    }
    
    .about .icon-container object{
        width: 30px;
        height: 30px;
        margin: 0 .8em;
    }
    
    .about p{
        font-family: var(--ff-body);
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.02em;
        width: 380px;
    }
    
    .about:nth-of-type(even){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-highlight);
        color: var(--color-dark);
    }
    
    .image-container{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .image-container div{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .about .image-container div object{
        height: 70px;
        width: 70px;
        
    }
    
    .image-container div p{
        width: unset;
    }
}



@media(min-width: 1024px){
    .latest{
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
    }
    .latest .post{
        margin: 1em 1em;
        width: 30%;
    }
    .latest .post .post-details-container .card-title{
        font-family: var(--ff-component);
        color: var(--color-white);
        font-weight: 300;
        font-size: 1rem;
    }
    .post .post-details-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: black;
    
    }

    .wrapper{
        background-image: var(--background-image);
        background-size: cover;
        width: 100%;
        min-height: 700px;
        max-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3em 0;
        border-radius: 10px;
    }

    .wrapper[data-clicked="true"]{
        transition: scale 200ms ease-in 200ms;
        scale: 2.5;
    }

    .wrapper .post{
        width: 70%;
        display: flex;
        border: none;
        
    }

    .wrapper .post:hover{
        transition: .95s;
        scale: 1.2;
    }

    .wrapper .post img{
        width: 70%;
    }

    .wrapper .post .post-details-container{
        position: relative;
        width: 30%;
        background-color: var(--color-white);
        
    }
    .wrapper .post .post-details-container .post-date{
        position: absolute;
        top: 0;
        right: 5px;
        color: var(--color-dark);
    }

    .wrapper .post .post-details-container .card-title{
        background-image: var(--background-image);
        font-family: var(--ff-main);
        font-weight: 500;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        position: absolute;
        left: -50px;
        font-size: 2rem;
        filter: brightness(1);
    }
    .wrapper .post .post-details-container .read-btn{
        position: absolute;
        bottom: 0;
        left: 5px;
        background-color: unset;
        color: var(--color-dark);
        border-bottom: 1px solid var(--color-dark);
        width: 100px;
        text-align: end;
    }





    nav{
        display: block;
    }
    .nav-item{
        font-size: 1.3rem;
        margin-left: 1rem;
        display: inline;
    }
    
    .nav-item:hover{
        color: var(--color-highlight);
        cursor: pointer;
    }
    .hamburger-bars{
        display: none;
    }
    .index{
        background-image: url(/assets/hero-small.svg);
        background-repeat: no-repeat;
        background-position: 50% 60%;
        background-size: contain;
        width: 100%;
        height: 90vh;
        font-family: var(--ff-main);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container{
        max-width: 1024px;
    }
    .hero-header{
        font-family: var(--ff-main);
        color: var(--color-brand-primary);
        font-size: 2rem;
        text-align: center;
    }
    .hero-section-widescreen{
        width: 100%;
        
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--ff-main);
    }
      
      .slider{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      
      .item{
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        position: absolute;
        width: 400px;
        height: 320px;
        text-align: justify;
        border-radius: 10px;
        border: 1px solid var(--color-brand-primary);
        
        padding: 20px;
        transition: .95s;
        left: calc(50% - 200px);
        top: calc(50% - 100px);
        display: flex;
        flex-direction: column;
        justify-content: end;
      }

      .item:hover{
        cursor: pointer;
    }
      
    #next, #previous{
        position: absolute;
        top: 50%;
        color: var(--color-brand-primary);
        background-color: var(--color-dark);
        border: none;
        font-size: xxx-large;
        font-family: var(--ff-main);
        font-weight: bold;
        left: 150px;
    }
      
    #next{
        left: unset;
        right: 150px;
        
    }
    
    #next:hover, #previous:hover{
        cursor: pointer;
        color: var(--color-highlight);
    }
      
    .about{
        padding: 1em 0;
    }

    .about object{
        height: 150px;
        width: 150px;
    }
    

    
    .about h2{
        font-family: var(--ff-main);
        font-weight: 300;
        font-size: 2rem;
        width: 800px;
        
    }
    
    .about:nth-of-type(odd) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
    }
    
    .about .icon-container object{
        width: 30px;
        height: 30px;
        margin: 0 .8em;
    }
    
    .about p{
        font-family: var(--ff-body);
        font-style: normal;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.02em;
        width: 680px;
    }
    
    .about:nth-of-type(even){
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-highlight);
        color: var(--color-dark);
    }
    
    .image-container{
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .image-container div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .about .image-container div object{
        height: 100px;
        width: 100px;
        
    }
    
    .image-container div p{
        width: unset;
    }
}
@media(min-width: 1440px){
    .container{
        max-width: 1440px;
    }

    .index{
        background-image: url(/assets/hero1.svg);
        background-repeat: no-repeat;
        background-position: 50% 60%;
        background-size: contain;
        width: 100%;
        height: 90vh;
        font-family: var(--ff-main);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item{
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        position: absolute;
        width: 650px;
        height: 420px;
        text-align: justify;
        border-radius: 10px;
        border: 1px solid var(--color-brand-primary);
        font-family: var(--ff-component);
        padding: 20px;
        transition: .95s;
        left: calc(50% - 325px);
        top: calc(50% - 170px);
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .about:nth-of-type(odd) {
        width: 1440px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-white);
    }
    
    .about p{
        font-family: var(--ff-body);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.02em;
        width: 400px;
    }

    .about h2{
        font-family: var(--ff-main);
        font-weight: 400;
    }
    
    .about:nth-of-type(2){
        width: 100%;
        height: 550px;
        background-color: var(--color-highlight);
        color: var(--color-dark);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    
    .image-container{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    
    .image-container div{
        display: flex;
        flex-direction: column;
        width: 30%;
        
    }
    
    .image-container div p{
        width: unset;
    }

}