@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root{
    --color-brand-primary: #F9B752;
    --color-brand-secondary: #009883;
    --color-black: #1E1E1E;
    --color-black-variant: #323030;
    --color-black-transparent: #00000030;
    --color-black-text-background: #00000060;
    --color-white: #ffffff;
    --color-white-transparent: #ffffff30;

    --font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: var(--color-black);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    margin: 7rem 0;
}

footer{
    margin-top: auto;
}


.container{
    width: 100%;
    max-width: 1800px;
    margin-left: 100px;
    margin-right: 100px;
}

.blog-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
}

.text-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}

.text-content span{
    width: 40%;
}

.text-content object{
    position: absolute;
    right: 0;
    scale: .6;
    z-index: 0;
    fill: #00000010;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 1em;


}

.text-content img{
    width: 50%;
    aspect-ratio: 3/1;
    border-radius: 10px;
    margin-bottom: 1em;
}




/* FONT UTILITY CLASSES */
a, p, h1, h2, h3, ul, li, span{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

p span{
    color: var(--color-brand-primary);
    font-weight: 600;
}

.body-text{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1.5rem;
    margin-bottom: .5em;
    font-weight: 100;

}

.body-text-large{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 2rem;
    margin-bottom: .5em;
    font-weight: 100;
}

.highlight{
    color: var(--color-brand-primary);
}


.hero-title{
    color: var(--color-brand-primary);
    font-family: var(--font-family);
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.02em;

}     

.hero-subtitle{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1.5rem;
    font-weight: 400;
    width: 340px;
    line-height: 27px;
    letter-spacing: 0.02em;
}

.section-header{
    color: var(--color-white);
    margin-bottom: 1.5em;
    margin-top: 1em;
    font-family: var(--font-family);
    font-size: 2rem;
    letter-spacing: 0.02em;
    font-weight: 400;
}

.section-header span{
    color: var(--color-brand-primary);
}

/* ======================= COMPONENTS ======================== */

.icons{
    color: var(--color-white);
}

.icons:hover{
    color: var(--color-brand-secondary);
    cursor: pointer;
}

.navigation-icon{
    display: none;
}


/* ========== POST CARD ========== */
.post-card{
    width: 100%;
    max-width: 1440px;
    height: 400px;
    position: relative;
    margin-bottom: 6em;
}

.hide{
    display: none;
}

.filter{
    display: block;
}

.filter-container{
    display: flex;
}



.post-card::after{
    background-color: var(--color-brand-primary);
    content: " ";
    width: 500px;
    height: 2px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}
.post-card img{
    height: 400px;
    width: 100%;
    aspect-ratio: 3/1;
    position: relative;
}

.blog-details-container{
    position: absolute;
    bottom: 20%;
    left: 5%;

}

.blog-title{
    color: var(--color-brand-primary);
    background-color: var(--color-black-text-background);
    width: fit-content;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.02em;
    margin-bottom: .2rem;

}

.blog-subtitle{
    color: var(--color-white);
    background-color: var(--color-black-text-background);
    font-family: var(--font-family);
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-bottom: 1em;

}
.blog-date{
    color: var(--color-brand-primary);
    font-family: var(--font-family);
    background-color: var(--color-black-text-background);
    font-size: 1.5rem;
    width: fit-content;
    position: absolute;
    top: 0;

}

/* ======= SOCIALS CONTAINER ====== */

.socials-container object{
    margin-left: 2em;
}

/* ==== FOOTER ==== */

footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.footer-title{
    color: var(--color-white);

    font-family: var(--font-family);
    font-size: 2rem;
    
}

.footer-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer-nav a{
    color: var(--color-white);
    font-family: var(--font-family);
    margin-left: 1em;
    margin-bottom: .5em;

}

.footer-nav a:hover{
    color: var(--color-brand-primary);
}

/* ========== CAROUSEL ============= */

.latest-section{
    display: none;
}

.carousel-section{
    width: 100%;
    /* background-image: url("/public/assets/carousel.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
}

.carousel{

    height: 50%;
    max-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.slider{
    position: relative;
    width: 90%;
    height: 370px;
    overflow: hidden;
}

.item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 600px;
    height: 320px;
    transition: .5s;
    left: calc(50% - 300px);
    top: calc(50% - 160px);
    border: 1px solid var(--color-brand-primary);
}

.item:hover{
    cursor: pointer;
    scale: 1.1;
}

.item .post-title, .item .post-subtitle{
    color: var(--color-white);
    font-family: var(--font-family);
    position: absolute;
    left: 5%;
}

.item .post-title{
    bottom: 40%;
    color: var(--color-brand-primary);
    background-color: var(--color-black-text-background);
    width: fit-content;
}

.item .post-subtitle{
    bottom: 30%;
    background-color: var(--color-black-text-background);
    min-width: 60%;
    max-width: 85%;
}

.item .blog-date{
    font-size: 1rem;
}

#next, #prev{
    position: absolute;
    top: 40%;
    color: var(--color-brand-primary);
    background-color: none;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-weight: bold;
    left: 5%;
}

#next{
    left: unset;
    right: 5%;
}


/* STYLING FOR FORMS */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.form{
    margin: 0 auto;
    max-width: 600px;
}

label, input, textarea{
    display: block;
    margin-bottom: 1em;
    padding: unset;
    appearance: none;
    font-family: var(--font-family);
    letter-spacing: 0.08em;
    font-weight: 100;
}

textarea{
    letter-spacing: 0.1em;
}

input, textarea{
    background-color: #42403D;
    color: var(--color-white);
    border: none;
    width: 500px;
    resize: none;
    border-radius: 5px;
    font-family: var(--font-family);
    
}

.input-container{
    position: relative;
    
}

input{
    font-family: var(--font-family);
    height: 2rem;
    padding-left: 2.5em;
}



label{
    font-family: var(--font-family);
    color: var(--color-black);
}

.input-icon{
    position: absolute;
    top: 63%;
    left: .5em;
    color: var(--color-brand-primary);
}


::placeholder{
    color: var(--color-dark);
    font-family: var(--font-family);
    
}

/* ===== ERROR MESSAGE ===== */
.error-container{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-container *{
    margin-bottom: 1rem;
}

.error-message{
    font-size: 1.5rem;
    color: var(--color-white);
    font-family: var(--font-family);
    text-align: center;
}

.error-link{
    font-size: 1rem;
    color: var(--color-brand-primary);
    font-family: var(--font-family);
}

/* ===== SUCCESS MESSAGE ====== */
.success-container{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.success-container *{
    margin-bottom: 1rem;
}
.success-container p{
    font-size: 1.5rem;
    color: var(--color-white);
    font-family: var(--font-family);
    text-align: center;
}
.success-container a{
    font-size: 1rem;
    color: var(--color-brand-primary);
    font-family: var(--font-family);
}

/* ======================== COMPONENT UTILITY CLASSES ============== */
button{
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--font-family);
    border-radius: 0;
    appearance: none;
}

.button{
    background-color: var(--color-brand-primary);
    color: var(--color-black);
    padding: .6em 1.5em;
    font-size: .8em;
}

.button:hover{
    background-color: var(--color-brand-secondary);
    color: var(--color-white);
    cursor: pointer;
}





/* ======================= HEADER STYLING ========================= */

header{
    background-color: var(--color-black-transparent);

    height: 110px;
    border-bottom: 2px solid var(--color-white-transparent);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    z-index: 2;
    padding: 0 1em;
    transition: .5s;
}

header:hover{
    background-color: #1e1e1eda;
}

.darken{
    background-color: #1e1e1eda;
}

.logo-container{
    display: flex;
    align-items: center;
}
.nav-item{
    color: var(--color-white);
    font-family: var(--font-family);
    font-size: 1.25rem;
    margin-left: 1em;
}

.nav-item:hover{
    color: var(--color-brand-primary);
}

.logo-title{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 32px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--color-white)
}

.logo-title span{
    font-weight: 600;
}

.logo-title:hover{
    cursor: pointer;
}


/* ====================== HERO STYLING ========================== */

.hero-container{
    background-image: url("/public/assets/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1800px;
    height: 960px;
    position: relative;
    margin: 0 auto;

}

.hero-content{
    position: absolute;
    bottom: 20%;
    left: 35%;
}

.hero-content *{
    margin-bottom: 1rem;
}


/* ============== ABOUT STYLING ================== */
.about-section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}


.about-section span{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 0;
}


.about-container{
    background-image: url("/public/assets/about-background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 40vh;
    width: 100%;
    position: relative;

}

.about-container p{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    font-size: 1.5rem;
    text-align: center;
}


/* ============= BLOG ARTICLE ============ */

article{

    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.blog-image-container{
    position: relative;
}
.blog-post-title{
    color: var(--color-white);
    font-family: var(--font-family);;
    width: fit-content;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 .5rem;

    
}

.blog-post-subtitle{
    color: var(--color-brand-primary);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1em;
    padding: 0 .5rem;
}

.blog-post-date{
    color: var(--color-brand-primary);
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 0 .5rem;

}

.ingress{
    padding: 0 .5em;
    font-family: var(--font-family);
    font-size: 1.4rem;
    color: var(--color-brand-primary);
    text-align: justify;
}

.text-container{
    margin-top: 1em;
    padding: 0 1em;
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 1.4em;
}

.text-container p{
    margin: 1em 0;
    text-align: justify;
}



.modal{
    background-color: transparent;
    border: 1px solid var(--color-brand-primary);
    width: 90%;
}
.modal img{
    width: 100%;
    aspect-ratio: 2/1;
}

.modal::backdrop{
    background-color: #1e1e1ee5;
}
.article-image{
    width: 100%;
}

#addPosts{
    position: absolute;
    left: calc(50% - 45px);
}


/* ============== COMMENTS SECTION ================= */
.comments-container{
    
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-section .section-header{
    margin-left: 1em;
}

.comment{
    display: flex;
    width: 70%;
    max-width: 600px;
    min-height: 130px;
    margin: 2em;
    background-color: var(--color-black-variant);
    padding: 1em 1em;
    border-radius: 10px;

}
.comment .avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment .avatar-container p{
    font-family: var(--font-family);
    color: var(--color-white);
    font-size: .8rem;
}
.comment .content-container{
    width: 70%;
    margin-left: 1em;
    border-radius: 10px;
    
}


.comment .content-container div{
    width: 100%;
    padding-right: 1em;
}

.comment .content-container div p{
    font-family: var(--font-family);
    color: var(--color-white);
    font-size: .8rem;
    text-align: end;
    border-bottom: 1px solid var(--color-brand-primary);
    
}

.comment-content{
    font-family: var(--font-family);
    color: var(--color-white);
    height: 50%;
    margin: 0;
    padding: .1em .1em .5em .5em;
    border-radius: 10px;
}

/* === FILTER SECTION === */
.filter-container .button[data-clicked="true"]{
    background-color: var(--color-brand-secondary);
    color: var(--color-white);
}
/* ======================= MEDIA QUERYS =================== */

@media (max-width: 425px){
    header{
        height: 49px;
    }


    .hero-container{
        background-position: center;
        height: 398px;
        

    }
    .hero-content{
        bottom: 10%;
        left: 5%;
    }

    .button{
        font-size: .8em;
        padding: .6em 1.5em;
    }

    /* ============== FONT STYLING ============== */


    .logo-title{
        font-size: 1rem;
    }

    .logo-title span{
        font-weight: 600;
    }
    
    .hero-title{
        font-size: 1.5rem;
    
    }     
    
    .hero-subtitle{
        font-size: .8rem;
        width: 240px;
        line-height: 12px;

    }

    .section-header{
        font-size: 1rem;
        font-weight: 400;
    }

    /* ============= COMPONENTS ==============*/
    /* ============= NAVIGATION============= */
    .navigation-icon{
        display: block;
    }

    nav{
        width: 250px;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: calc(100% + 2px);
        background-color: #1e1e1eda;
        transition: 600ms;
        z-index: 9;
        transform: translateX(-250px);
        transition: .5s ease-in-out;

    }
    nav .nav-item{
        text-align: start;
        padding-left: .8em;
        margin: 1em 0;
    }
    .show{
        transform: translateX(0);
    
    }
    .show{
        display: flex;
        
    }

    /* ===== CAROUSEL / LATEST ==== */
    .carousel-section{
        display: none;
    }

    .latest-section{
        display: block;
    }


    /* ======== FOOTER  ======== */
    footer{
        flex-direction: column;
        align-items: center;
    }

    .footer-nav{
        display: flex;
        flex-direction: row;
        font-size: .6rem;
    }
        




    /* ========= POST CARD ==============*/

    .post-card{
        height: 200px;
    }

    .post-card img{
        aspect-ratio: 1/1;
        height: 200px;
    }

    .blog-title{
        font-size: 1rem;    
    }
    
    .blog-subtitle{
        color: var(--color-white);
    
        font-family: var(--font-family);
        font-size: .8rem;
        font-weight: 400;
        max-width: 280px;
    
    }
        /* ============= BLOG ARTICLE ============ */

article{
    width: 100%;
}

.blog-image-container{
    position: relative;
}
.blog-post-title{
    font-size: 1.5rem;
    bottom: 25%;
}

.blog-post-subtitle{
    font-size: .8rem;
    bottom: 10%;
}

.ingress{
    padding: 0 .3em;
    font-size: 1rem;
    text-align: justify;
    font-weight: 300;
}

.text-container{
    font-size: .9rem;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.2em;
}

.text-container p{
    margin: 1em 0;
    text-align: justify;
}



.modal{
    background-color: transparent;
    border: 1px solid var(--color-brand-primary);
    width: 70%;
}

.modal::backdrop{
    background-color: #1e1e1ee5;
}
.article-image{
    width: 100%;
    aspect-ratio: 3/2;
}

.modal p{
    font-family: var(--font-family);
    font-size: 1.3rem;
    color: var(--color-brand-primary);

}

.modal p:hover{
    cursor: pointer;
}
.comment-section .section-header{
    margin-left: unset;
}

.comment .content-container div p{
    font-size: .6rem;
}
.comment-content{
    font-size: .9rem;
}

/* ===== FOMRS ===== */
.form{
    width: 100%;
    
}
input, textarea{
    width: 90%;
}



}

@media (min-width: 426px) and (max-width: 768px){
    .button{
        font-size: .8em;
        padding: .6em 1.5em;
    }

    .hero-content{
        bottom: 20%;
        left: 5%;
    }
    /* ============= COMPONENTS ==============*/
    /* ============= NAVIGATION============= */






    .navigation-icon{
        display: block;
    }
    nav{
        width: 350px;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -350px;
        top: calc(100% + 2px);
        background-color: #1e1e1eda;
        transition: 600ms;
        z-index: 9;
        transition: .5s;

    }
    nav .nav-item{
        text-align: start;
        margin: 1em 0;
    }
    .show{
        transform: translateX(350px);
    
    }

    /* ==== CAROUSEL / LATEST === */

    .latest-section{
        display: none;
    }

    .item{
        width: 340px;
        height: 200px;
        left: calc(50% - 170px);
        top: calc(50% - 100px);
    }
    .item .post-title{
        bottom: 40%;
        color: var(--color-brand-primary);
        background-color: var(--color-black-text-background);
        width: fit-content;
    }
    
    .item .post-subtitle{
        bottom: 15%;
        background-color: var(--color-black-text-background);
    }

    #prev{
        left: 0px;
        z-index: 9;
    }
    #next{
        right: 0px;
        z-index: 9;
    }

    /* ======== FOOTER  ======== */
    footer{
        flex-direction: column;
        align-items: center;
    }
    
    .footer-nav{
        display: flex;
        flex-direction: row;
        font-size: .8rem;
    }

    /* ======== POST CARD ========== */
    .post-card{
        width: 95%;
        height: unset;
    }
    .post-card img{
        width: 100%;
        aspect-ratio: 2/1;
        height: unset;
    }
    .blog-title{
        font-size: 1rem;    
    }
    
    .blog-subtitle{
        color: var(--color-white);
        font-family: var(--font-family);
        font-size: .8rem;
        font-weight: 400;
        max-width: 280px;
    
    }

    /* ============= BLOG ARTICLE ============ */

article{
    width: 100%;
}

.blog-image-container{
    position: relative;
}
.blog-post-title{
    font-size: 2rem;
    bottom: 25%;
}

.blog-post-subtitle{
    font-size: 1.2rem;
    bottom: 15%;
}

.ingress{
    padding: 0 .3em;
    font-size: 1.2rem;
    text-align: justify;
}

.text-container{
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.2em;
}

.text-container p{
    margin: 1em 0;
    text-align: justify;
}



.modal{
    background-color: transparent;
    border: 1px solid var(--color-brand-primary);
    width: 70%;
}

.modal::backdrop{
    background-color: #1e1e1ee5;
}
.article-image{
    width: 100%;
    aspect-ratio: 2/1;
}

.modal p{
    font-family: var(--font-family);
    font-size: 1.3rem;
    color: var(--color-brand-primary);

}

.modal p:hover{
    cursor: pointer;
}

.comment-section .section-header{
    margin-left: .1em;
}
/* ===== FOMRS ===== */
.form{
    width: 100%;
    max-width: 500px;
    
}
input, textarea{
    width: 90%;
}
}

@media (min-width: 1440px){

}